doctype html
html
	head
		meta(charset='UTF-8')
		title Chat Widget
		link(rel='stylesheet', href='css/reset.css')
		link(rel='stylesheet prefetch', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='css/style.css')
	body
		.container.clearfix
			#people-list.people-list
				.search
					form#formAjoutUtilisateur
						#erreurs
						h2 Pseudo:
						input#pseudo(type='text', placeholder='Pseudo',autofocus="autofocus",required)
						br
						br
						|Avatar:
						br
						br
						label(for='urlImageDefaut')
							img(src="http://ondego.be/divers/avatars-material-pngs/woman1.png")
						input.beteclasse(type='radio', name='urlImageDefaut',id="urlImageDefaut", required, value='http://ondego.be/divers/avatars-material-pngs/woman1.png')
						label(for='urlImageDefaut2')
							img(src="http://ondego.be/divers/avatars-material-pngs/woman2.png")
						input.beteclasse(type='radio', name='urlImageDefaut',id="urlImageDefaut2", required, value='http://ondego.be/divers/avatars-material-pngs/woman2.png')
						label(for='urlImageDefaut3')
							img(src="http://ondego.be/divers/avatars-material-pngs/man1.png")
						input.beteclasse(type='radio', name='urlImageDefaut',id="urlImageDefaut3", required,  value='http://ondego.be/divers/avatars-material-pngs/man1.png')
						label(for='urlImageDefaut4')
							img(src="http://ondego.be/divers/avatars-material-pngs/man2.png")
						input.beteclasse(type='radio', name='urlImageDefaut',id="urlImageDefaut4", required, value='http://ondego.be/divers/avatars-material-pngs/man2.png')
						br
						br
						| Image perso
						label(for='choixImgPersoOui')
							input(type='radio', name='choixImgPerso',id="choixImgPersoOui" class="choixImgPerso" value='oui')
							|oui
						label(for='choixImgPersoNon')
							input(type='radio', name='choixImgPerso',id="choixImgPersoNon" class="choixImgPerso" value='non')
							|non
						br
						br
						input#urlAvatar(type='text', placeholder='http://www.image.io/image.jpg',disabled)
						br
						br
						button(type="submit") Entrer
				ul.list
					#utilisateurs
			.chat
				.chat-header.clearfix
				.chat-history
					ul#fenetreDeChat
				.chat-message.clearfix
					form#formulaireDeChat
						textarea#texteDuChat(name="texteDuChat",placeholder='Votre message', rows='3')
						button Envoyer
				// end chat-message
			// end chat
		// end container
		script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js')
		script(src='js/index.js')
		script(src='js/main.js')
		script(src='socket.io/socket.io.js')
